tmp/n8n-update-min2/2026-06-12-postventa-sprint1/AI_Orchestrator_-_Router_Master2__-eBpLMvSbYoCpw4kR.json
{
  "name": "AI Orchestrator - Router Master2️⃣",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"input_event\": {\n    \"event_type\": \"whatsapp_message\",\n    \"channel\": \"whatsapp\",\n    \"wa_id\": \"56912345678\",\n    \"phone_normalized\": \"56912345678\",\n    \"message_text\": \"Hola, quiero cotizar una banca con despacho a Maipú\",\n    \"message_type\": \"text\",\n    \"received_at\": \"2026-05-28 10:30:00\"\n  },\n  \"customer_context\": {\n    \"customer_id\": 123,\n    \"full_name\": \"Juan Pérez\",\n    \"lifecycle_stage\": \"active_customer\",\n    \"cluster\": \"home_gym\",\n    \"total_orders\": 2,\n    \"total_revenue\": 250000,\n    \"last_order_at\": \"2026-04-20\"\n  },\n  \"case_context\": {\n    \"case_id\": 456,\n    \"status\": \"open\",\n    \"department\": \"ventas\",\n    \"service_code\": \"sales\",\n    \"case_type\": \"cotizacion\",\n    \"priority\": \"normal\"\n  },\n  \"conversation_context\": {\n    \"last_messages\": []\n  },\n  \"business_context\": {\n    \"has_open_complaint\": false,\n    \"has_open_quote\": false,\n    \"recent_campaigns\": [],\n    \"recent_orders\": []\n  }\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "10ac280e-6219-4c84-afbf-21c28a2938bc",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "const input = $json || {};\n\nfunction cleanText(value) {\n  if (value === null || value === undefined) return \"\";\n  return String(value).trim();\n}\n\nfunction asArray(value) {\n  return Array.isArray(value) ? value : [];\n}\n\nfunction asObject(value) {\n  return value && typeof value === \"object\" && !Array.isArray(value) ? value : {};\n}\n\nfunction asBool(value) {\n  return value === true || value === 1 || value === \"1\" || value === \"true\";\n}\n\nconst inputEvent = asObject(input.input_event);\nconst customerContext = asObject(input.customer_context);\nconst caseContext = asObject(input.case_context);\nconst conversationContext = asObject(input.conversation_context);\nconst businessContext = asObject(input.business_context);\nconst serviceContext = asObject(\n  input.service_context ||\n  businessContext.service_context ||\n  {}\n);\n\nconst normalized = {\n  input_event: {\n    ...inputEvent,\n\n    event_type: cleanText(inputEvent.event_type || \"whatsapp_message\"),\n    channel: cleanText(inputEvent.channel || \"whatsapp\"),\n\n    wa_id: cleanText(\n      inputEvent.wa_id ||\n      inputEvent.phone_normalized ||\n      input.wa_id ||\n      input.phone_normalized\n    ),\n\n    phone_normalized: cleanText(\n      inputEvent.phone_normalized ||\n      inputEvent.wa_id ||\n      input.phone_normalized ||\n      input.wa_id\n    ),\n\n    provider_message_id: cleanText(\n      inputEvent.provider_message_id ||\n      inputEvent.message_id ||\n      inputEvent.id ||\n      input.provider_message_id ||\n      input.message_id\n    ),\n\n    context_message_id: cleanText(\n      inputEvent.context_message_id ||\n      input.context_message_id\n    ),\n\n    phone_number_id: cleanText(\n      inputEvent.phone_number_id ||\n      input.phone_number_id\n    ),\n\n    contact_name: cleanText(\n      inputEvent.contact_name ||\n      input.contact_name ||\n      customerContext.full_name ||\n      customerContext.name\n    ),\n\n    message_text: cleanText(\n      inputEvent.message_text ||\n      inputEvent.text ||\n      input.message?.text ||\n      input.message_text ||\n      input.text\n    ),\n\n    message_type: cleanText(\n      inputEvent.message_type ||\n      input.message_type ||\n      \"text\"\n    ),\n\n    received_at: cleanText(\n      inputEvent.received_at ||\n      input.received_at\n    ),\n\n    timestamp: cleanText(\n      inputEvent.timestamp ||\n      input.timestamp\n    )\n  },\n\n  customer_context: {\n    ...customerContext,\n    customer_id: customerContext.customer_id ?? customerContext.id_customer ?? null,\n    id_customer: customerContext.id_customer ?? customerContext.customer_id ?? null,\n    full_name: cleanText(customerContext.full_name || customerContext.name),\n    lifecycle_stage: cleanText(customerContext.lifecycle_stage || \"unknown\"),\n    cluster: cleanText(customerContext.cluster || \"unknown\"),\n    total_orders: Number(customerContext.total_orders || 0),\n    total_revenue: Number(customerContext.total_revenue || 0),\n    last_order_at: cleanText(customerContext.last_order_at)\n  },\n\n  case_context: {\n    ...caseContext,\n    case_id: caseContext.case_id ?? caseContext.id ?? null,\n    status: cleanText(caseContext.status || \"none\"),\n    department: cleanText(caseContext.department || \"unknown\"),\n    service_code: cleanText(caseContext.service_code || \"unknown\"),\n    case_origin_type: cleanText(caseContext.case_origin_type || \"\"),\n    case_type: cleanText(caseContext.case_type || \"unknown\"),\n    priority: cleanText(caseContext.priority || \"normal\")\n  },\n\n  conversation_context: {\n    ...conversationContext,\n    last_messages: asArray(conversationContext.last_messages)\n      .slice(-10)\n      .map((m) => ({\n        direction: cleanText(m.direction),\n        message_text: cleanText(m.message_text),\n        created_at: cleanText(m.created_at)\n      }))\n  },\n\n  business_context: {\n    ...businessContext,\n    has_open_complaint: asBool(businessContext.has_open_complaint),\n    has_open_quote: asBool(businessContext.has_open_quote),\n    recent_campaigns: asArray(businessContext.recent_campaigns),\n    recent_orders: asArray(businessContext.recent_orders),\n    service_context: serviceContext,\n    risk_flags: asArray(businessContext.risk_flags || input.risk_flags)\n  },\n\n  service_context: {\n    ...serviceContext,\n    has_service_context: asBool(serviceContext.has_service_context),\n    dominant_service: cleanText(\n      serviceContext.dominant_service ||\n      serviceContext.service_code ||\n      input.service_code\n    ),\n    service_code: cleanText(\n      serviceContext.service_code ||\n      serviceContext.dominant_service ||\n      input.service_code\n    ),\n    source_table: serviceContext.source_table ?? null,\n    source_id: serviceContext.source_id ?? null,\n    id_order: serviceContext.id_order ?? null,\n    id_customer: serviceContext.id_customer ?? null,\n    invoice_number: serviceContext.invoice_number ?? null,\n    case_origin_type: cleanText(serviceContext.case_origin_type || \"\")\n  },\n\n  risk_flags: asArray(input.risk_flags || businessContext.risk_flags),\n  resolver_meta: asObject(input.resolver_meta),\n\n  raw_input: input\n};\n\nif (!normalized.input_event.wa_id) {\n  normalized._validation_error = \"Missing wa_id\";\n}\n\nif (!normalized.input_event.message_text && normalized.input_event.message_type === \"text\") {\n  normalized._validation_error = \"Missing message_text\";\n}\n\nreturn [{ json: normalized }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "ecef0efd-f61a-49e6-8c15-af65b85d4d2f",
      "name": "Code - Normalize Input"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/v1/chat/completions",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Authorization\": \"Bearer sk-c854a40f049a4970b2078577d87ad75a\",\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.deepseek_payload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "da3bc6ff-5b2a-497a-8d77-f920637d9f06",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const data = $json || {};\n\nconst allowedIntents = [\n  \"greeting\",\n  \"quote_request\",\n  \"purchase_advice\",\n  \"product_availability\",\n  \"shipping_question\",\n  \"order_status\",\n  \"complaint\",\n  \"warranty\",\n  \"return_or_exchange\",\n  \"postventa_armado\",\n  \"postventa_mantencion\",\n  \"postventa_general\",\n  \"campaign_response\",\n  \"review_response\",\n  \"human_request\",\n  \"thanks_or_closure\",\n  \"customer_rejection\",\n  \"opt_out\",\n  \"spam_or_irrelevant\",\n  \"unknown\"\n];\n\nconst allowedAgents = [\n  \"AI_AGENT_Quote\",\n  \"AI_AGENT_Sales\",\n  \"AI_AGENT_SAC\",\n  \"AI_AGENT_Postventa\",\n  \"AI_AGENT_Campaign\",\n  \"AI_AGENT_Knowledge\",\n  \"AI_AGENT_GENERAL\",\n  \"executor\",\n  \"OPS_Handoff_Manager\",\n  \"OPS_Case_Closer\",\n  \"OPS_Tool_Request\",\n  \"noop\",\n  \"quote_agent\",\n  \"sales_agent\",\n  \"sac_agent\",\n  \"postventa_agent\",\n  \"campaign_agent\",\n  \"knowledge_agent\",\n  \"general_agent\",\n  \"human_review\"\n];\n\nconst allowedRisk = [\"low\", \"medium\", \"high\"];\n\nfunction clean(value) {\n  if (value === null || value === undefined) return \"\";\n  return String(value).trim();\n}\n\nfunction normalizeText(value) {\n  return clean(value)\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/[¿?¡!.,;:()[\\]{}\"']/g, \"\")\n    .replace(/\\s+/g, \" \");\n}\n\nfunction asObject(value) {\n  return value && typeof value === \"object\" && !Array.isArray(value) ? value : {};\n}\n\nfunction asArray(value) {\n  return Array.isArray(value) ? value : [];\n}\n\nfunction asBool(value, fallback = false) {\n  if (value === true || value === 1 || value === \"1\" || value === \"true\") return true;\n  if (value === false || value === 0 || value === \"0\" || value === \"false\") return false;\n  return fallback;\n}\n\nfunction clamp01(value, fallback = 0.8) {\n  const n = Number(value);\n  if (!Number.isFinite(n)) return fallback;\n  return Math.max(0, Math.min(1, n));\n}\n\nfunction includesAny(text, terms) {\n  const t = normalizeText(text);\n  return terms.some(term => t.includes(normalizeText(term)));\n}\n\nfunction pickFirst(...values) {\n  for (const value of values) {\n    const v = clean(value);\n    if (v) return v;\n  }\n  return \"\";\n}\n\nfunction pickFirstNumber(...values) {\n  for (const value of values) {\n    if (value === null || value === undefined || value === \"\") continue;\n    const n = Number(value);\n    if (Number.isFinite(n) && n > 0) return n;\n  }\n  return null;\n}\n\nfunction normalizeTargetAgent(value) {\n  const v = String(value || \"\").trim();\n\n  const map = {\n    quote_agent: \"AI_AGENT_Quote\",\n    sales_agent: \"AI_AGENT_Sales\",\n    sac_agent: \"AI_AGENT_SAC\",\n    postventa_agent: \"AI_AGENT_Postventa\",\n    campaign_agent: \"AI_AGENT_Campaign\",\n    knowledge_agent: \"AI_AGENT_Knowledge\",\n    general_agent: \"AI_AGENT_SAC\",\n    human_review: \"OPS_Handoff_Manager\",\n    AI_AGENT_Quote: \"AI_AGENT_Quote\",\n    AI_AGENT_Sales: \"AI_AGENT_Sales\",\n    AI_AGENT_SAC: \"AI_AGENT_SAC\",\n    AI_AGENT_Postventa: \"AI_AGENT_Postventa\",\n    AI_AGENT_Campaign: \"AI_AGENT_Campaign\",\n    AI_AGENT_Knowledge: \"AI_AGENT_Knowledge\",\n    AI_AGENT_GENERAL: \"AI_AGENT_SAC\",\n    OPS_Handoff_Manager: \"OPS_Handoff_Manager\",\n    OPS_Case_Closer: \"OPS_Case_Closer\",\n    OPS_Tool_Request: \"OPS_Tool_Request\",\n    executor: \"executor\",\n    noop: \"noop\"\n  };\n\n  return map[v] || \"AI_AGENT_SAC\";\n}\n\nfunction normalizeIntent(value) {\n  const v = normalizeText(value);\n\n  const map = {\n    greeting: \"greeting\",\n    saludo: \"greeting\",\n    quote_request: \"quote_request\",\n    cotizacion: \"quote_request\",\n    cotizar: \"quote_request\",\n    purchase_advice: \"purchase_advice\",\n    product_availability: \"product_availability\",\n    shipping_question: \"shipping_question\",\n    order_status: \"order_status\",\n    complaint: \"complaint\",\n    reclamo: \"complaint\",\n    warranty: \"warranty\",\n    garantia: \"warranty\",\n    return_or_exchange: \"return_or_exchange\",\n    devolucion: \"return_or_exchange\",\n    postventa_armado: \"postventa_armado\",\n    armado: \"postventa_armado\",\n    postventa_mantencion: \"postventa_mantencion\",\n    mantencion: \"postventa_mantencion\",\n    mantenimiento: \"postventa_mantencion\",\n    postventa_general: \"postventa_general\",\n    campaign_response: \"campaign_response\",\n    review_response: \"review_response\",\n    human_request: \"human_request\",\n    thanks_or_closure: \"thanks_or_closure\",\n    customer_rejection: \"customer_rejection\",\n    opt_out: \"opt_out\",\n    spam_or_irrelevant: \"spam_or_irrelevant\",\n    unknown: \"unknown\"\n  };\n\n  return map[v] || \"unknown\";\n}\n\nfunction normalizeRisk(value) {\n  const v = normalizeText(value);\n  if ([\"low\", \"bajo\"].includes(v)) return \"low\";\n  if ([\"medium\", \"medio\", \"moderate\"].includes(v)) return \"medium\";\n  if ([\"high\", \"alto\"].includes(v)) return \"high\";\n  return \"medium\";\n}\n\nfunction normalizeService(value) {\n  const v = normalizeText(value);\n\n  if (!v) return \"unknown\";\n  if ([\"postventa_armado\", \"armado\"].includes(v)) return \"postventa_armado\";\n  if ([\"postventa_mantencion\", \"mantencion\", \"mantenimiento\"].includes(v)) return \"postventa_mantencion\";\n  if (v.includes(\"postventa\")) return \"postventa_general\";\n  if ([\"campaign\", \"campana\", \"campaña\", \"campaign_response\"].includes(v)) return \"campaign\";\n  if ([\"knowledge\", \"faq\", \"documentacion\", \"documentación\"].includes(v)) return \"knowledge\";\n  if ([\"garantia\", \"reclamo\", \"devolucion\", \"warranty\", \"complaint\", \"sac\"].includes(v)) return \"sac\";\n  if ([\"quote\", \"cotizacion\", \"cotización\"].includes(v)) return \"quote\";\n  if ([\"sales\", \"ventas\", \"asesoria_compra\", \"purchase_advice\", \"product_availability\"].includes(v)) return \"sales\";\n  return v;\n}\n\nfunction mapServiceToAgent(service) {\n  const normalized = normalizeService(service);\n\n  if ([\"postventa_armado\", \"postventa_mantencion\", \"postventa_general\"].includes(normalized)) return \"AI_AGENT_Postventa\";\n  if (normalized === \"campaign\") return \"AI_AGENT_Campaign\";\n  if (normalized === \"knowledge\") return \"AI_AGENT_Knowledge\";\n  if (normalized === \"quote\") return \"AI_AGENT_Quote\";\n  if (normalized === \"sales\") return \"AI_AGENT_Sales\";\n  if (normalized === \"sac\") return \"AI_AGENT_SAC\";\n  return null;\n}\n\nfunction buildSwitchAction({\n  route = false,\n  execute = false,\n  handoff = false,\n  close = false,\n  noop = false,\n  suppressMail = true,\n  suppressHandoff = true,\n  blockedReason = null\n}) {\n  return {\n    should_route_to_agent: route,\n    should_execute_response: execute,\n    should_handoff: handoff,\n    should_close_case: close,\n    should_noop: noop,\n    should_suppress_mail: suppressMail,\n    should_suppress_handoff: suppressHandoff,\n    blocked_reason: blockedReason\n  };\n}\n\nconst rawInput = asObject(data.raw_input);\nconst inputEvent = asObject(data.input_event || rawInput.input_event);\nconst customerContext = asObject(data.customer_context || rawInput.customer_context);\nconst caseContext = asObject(data.case_context || rawInput.case_context);\nconst conversationContext = asObject(data.conversation_context || rawInput.conversation_context);\nconst businessContext = asObject(data.business_context || rawInput.business_context);\nconst serviceContext = asObject(data.service_context || rawInput.service_context);\nconst resolverMeta = asObject(data.resolver_meta || rawInput.resolver_meta);\n\nconst parsedIntent = normalizeIntent(\n  pickFirst(\n    data.classification?.intent,\n    data.intent\n  )\n);\n\nconst parsedTargetAgent = normalizeTargetAgent(\n  pickFirst(\n    data.classification?.target_agent,\n    data.routing?.target_agent,\n    data.routing?.next_workflow,\n    data.target_agent\n  )\n);\n\nlet riskLevel = normalizeRisk(\n  pickFirst(\n    data.classification?.risk_level,\n    data.risk_level,\n    \"medium\"\n  )\n);\n\nlet confidence = clamp01(\n  data.classification?.confidence ?? data.confidence,\n  0.82\n);\n\nconst currentText = normalizeText(\n  inputEvent.message_text ||\n  inputEvent.text ||\n  businessContext.current_message_flags?.current_message_text\n);\n\nconst dominantService = normalizeService(\n  pickFirst(\n    serviceContext.dominant_service,\n    serviceContext.service_code,\n    caseContext.service_code,\n    data.case_decision?.service_code\n  )\n);\n\nconst dominantContextAgent = mapServiceToAgent(dominantService);\n\nconst messageType = normalizeText(inputEvent.message_type || \"text\");\nconst isButtonOrInteractive =\n  messageType === \"button\" ||\n  messageType === \"interactive\" ||\n  messageType === \"list_reply\";\n\nconst greetingTerms = [\n  \"hola\",\n  \"holaa\",\n  \"hola hola\",\n  \"buenas\",\n  \"buena\",\n  \"buen dia\",\n  \"buenos dias\",\n  \"buenas tardes\",\n  \"buenas noches\"\n];\n\nconst weakContinuationTerms = [\n  \"si\",\n  \"sí\",\n  \"ok\",\n  \"oka\",\n  \"oki\",\n  \"dale\",\n  \"me interesa\",\n  \"perfecto\",\n  \"quiero\",\n  \"lo quiero\",\n  \"me sirve\",\n  \"listo\"\n];\n\nconst declineTerms = [\n  \"no gracias\",\n  \"no, gracias\",\n  \"no me interesa\",\n  \"paso\",\n  \"por ahora no\",\n  \"no quiero\"\n];\n\nconst legalTerms = [\n  \"sernac\",\n  \"demanda\",\n  \"abogado\",\n  \"legal\",\n  \"denuncia\",\n  \"estafa\",\n  \"funa\",\n  \"accidente\",\n  \"lesion\",\n  \"lesión\"\n];\n\nconst humanTerms = [\n  \"quiero hablar con una persona\",\n  \"quiero hablar con alguien\",\n  \"quiero hablar con humano\",\n  \"necesito hablar con alguien\",\n  \"necesito hablar con una persona\",\n  \"ejecutivo\",\n  \"supervisor\",\n  \"operador\"\n];\n\nconst complaintTerms = [\n  \"reclamo\",\n  \"garantia\",\n  \"garantía\",\n  \"devolucion\",\n  \"devolución\",\n  \"reembolso\",\n  \"dañado\",\n  \"danado\",\n  \"roto\",\n  \"mala experiencia\"\n];\n\nconst quoteTerms = [\n  \"cotizar\",\n  \"cotizacion\",\n  \"cotización\",\n  \"presupuesto\",\n  \"valor\"\n];\n\nconst commercialTerms = [\n  \"catalogo\",\n  \"catálogo\",\n  \"stock\",\n  \"precio\",\n  \"disponibilidad\",\n  \"producto\",\n  \"productos\",\n  \"comprar\",\n  \"maquina\",\n  \"máquina\",\n  \"banca\",\n  \"rack\",\n  \"barra\",\n  \"disco\",\n  \"mancuerna\",\n  \"mancuernas\"\n];\n\nconst isGreetingOnly = greetingTerms.includes(currentText);\nconst isWeakContinuation = weakContinuationTerms.includes(currentText) || isButtonOrInteractive || isGreetingOnly;\nconst isExplicitDecline = declineTerms.includes(currentText);\nconst isLegalRisk = includesAny(currentText, legalTerms);\nconst isHumanRequest = includesAny(currentText, humanTerms);\nconst isComplaint = includesAny(currentText, complaintTerms);\nconst isQuoteIntent = includesAny(currentText, quoteTerms);\nconst isCommercialIntent = includesAny(currentText, commercialTerms);\n\nconst conversationCaseId = pickFirstNumber(\n  caseContext.conversation_case_id,\n  caseContext.case_id\n);\n\nconst hasActiveCase =\n  !!conversationCaseId &&\n  ![\"closed\", \"archived\", \"resolved\"].includes(normalizeText(caseContext.status)) &&\n  ![\"closed\", \"archived\"].includes(normalizeText(caseContext.lifecycle_status));\n\nconst manualLockActive =\n  asBool(resolverMeta.manual_lock_active, false) ||\n  asBool(caseContext.manual_lock_active, false);\n\nconst operatorActive =\n  asBool(resolverMeta.operator_active, false) ||\n  asBool(caseContext.operator_active, false);\n\nconst botCanContinue =\n  resolverMeta.bot_can_continue !== false &&\n  resolverMeta.bot_can_continue !== \"false\";\n\nconst recommendedBotMode = normalizeText(resolverMeta.recommended_bot_mode);\n\nlet intent = parsedIntent;\nlet targetAgent = parsedTargetAgent;\nlet actionType = \"route_to_agent\";\nlet blockedReason = null;\nlet decisionReason = \"model_routing\";\nlet requiresHuman = false;\nlet allowedToAutoReply = false;\n\nif (!botCanContinue || manualLockActive || operatorActive || recommendedBotMode === \"operator_locked\") {\n  intent = parsedIntent === \"unknown\" ? \"unknown\" : parsedIntent;\n  targetAgent = \"noop\";\n  actionType = \"no_action\";\n  requiresHuman = true;\n  blockedReason = \"operator_or_manual_lock_active\";\n  decisionReason = \"operational_lock\";\n}\n\nelse if ([\"postventa_armado\", \"postventa_mantencion\", \"postventa_general\"].includes(dominantService)) {\n  if (isExplicitDecline && hasActiveCase) {\n    intent = \"customer_rejection\";\n    targetAgent = \"OPS_Case_Closer\";\n    actionType = \"close_candidate\";\n    riskLevel = \"low\";\n    confidence = Math.max(confidence, 0.9);\n    decisionReason = \"postventa_customer_rejection\";\n  } else {\n    intent =\n      dominantService === \"postventa_armado\"\n        ? \"postventa_armado\"\n        : dominantService === \"postventa_mantencion\"\n          ? \"postventa_mantencion\"\n          : \"postventa_general\";\n    targetAgent = \"AI_AGENT_Postventa\";\n    actionType = \"route_to_agent\";\n    riskLevel = riskLevel === \"high\" ? \"high\" : \"medium\";\n    confidence = Math.max(confidence, 0.86);\n    decisionReason = isWeakContinuation\n      ? \"postventa_continuity\"\n      : \"postventa_domain_priority\";\n  }\n}\n\nelse if (dominantContextAgent && isWeakContinuation) {\n  targetAgent = dominantContextAgent;\n  actionType = \"route_to_agent\";\n  confidence = Math.max(confidence, 0.84);\n  decisionReason = \"contextual_continuity\";\n\n  if (dominantContextAgent === \"AI_AGENT_Quote\") intent = \"quote_request\";\n  if (dominantContextAgent === \"AI_AGENT_Sales\" && intent === \"unknown\") intent = \"purchase_advice\";\n  if (dominantContextAgent === \"AI_AGENT_SAC\" && intent === \"unknown\") intent = \"complaint\";\n  if (dominantContextAgent === \"AI_AGENT_Campaign\" && intent === \"unknown\") intent = \"campaign_response\";\n}\n\nelse if (isLegalRisk || isHumanRequest || isComplaint || recommendedBotMode === \"sac_conversational\") {\n  targetAgent = \"AI_AGENT_SAC\";\n  actionType = \"route_to_agent\";\n  intent =\n    isHumanRequest\n      ? \"human_request\"\n      : isComplaint\n        ? \"complaint\"\n        : parsedIntent === \"unknown\"\n          ? \"complaint\"\n          : parsedIntent;\n  riskLevel = isLegalRisk ? \"high\" : \"medium\";\n  confidence = Math.max(confidence, 0.86);\n  decisionReason = isLegalRisk ? \"legal_or_sensitive_request\" : \"sac_context_or_request\";\n}\n\nelse if (isQuoteIntent) {\n  targetAgent = \"AI_AGENT_Quote\";\n  actionType = \"route_to_agent\";\n  intent = \"quote_request\";\n  riskLevel = \"low\";\n  confidence = Math.max(confidence, 0.84);\n  decisionReason = \"explicit_quote_request\";\n}\n\nelse if (isCommercialIntent) {\n  targetAgent = \"AI_AGENT_Sales\";\n  actionType = \"route_to_agent\";\n  intent = parsedIntent === \"unknown\" ? \"purchase_advice\" : parsedIntent;\n  riskLevel = \"low\";\n  confidence = Math.max(confidence, 0.82);\n  decisionReason = \"commercial_request\";\n}\n\nelse if (!allowedAgents.includes(targetAgent)) {\n  targetAgent = dominantContextAgent || \"AI_AGENT_SAC\";\n  actionType = \"route_to_agent\";\n  intent = intent === \"unknown\" && targetAgent === \"AI_AGENT_SAC\" ? \"unknown\" : intent;\n  decisionReason = \"normalized_invalid_target\";\n}\n\nif (!allowedIntents.includes(intent)) {\n  intent = \"unknown\";\n}\n\nif (!allowedRisk.includes(riskLevel)) {\n  riskLevel = \"medium\";\n}\n\nlet nextWorkflow = null;\nlet finalAction = null;\nlet switchAction = null;\n\nif (actionType === \"no_action\") {\n  nextWorkflow = null;\n  finalAction = \"no_action\";\n  switchAction = buildSwitchAction({\n    route: false,\n    execute: false,\n    handoff: false,\n    close: false,\n    noop: true,\n    suppressMail: true,\n    suppressHandoff: true,\n    blockedReason\n  });\n}\n\nif (actionType === \"close_candidate\") {\n  nextWorkflow = \"OPS_Case_Closer\";\n  finalAction = \"close_candidate\";\n  switchAction = buildSwitchAction({\n    route: false,\n    execute: false,\n    handoff: false,\n    close: true,\n    noop: false,\n    suppressMail: true,\n    suppressHandoff: true,\n    blockedReason\n  });\n}\n\nif (actionType === \"route_to_agent\") {\n  nextWorkflow = targetAgent;\n  finalAction = \"route_to_agent\";\n  switchAction = buildSwitchAction({\n    route: true,\n    execute: false,\n    handoff: false,\n    close: false,\n    noop: false,\n    suppressMail: true,\n    suppressHandoff: true,\n    blockedReason\n  });\n}\n\nif (targetAgent === \"OPS_Handoff_Manager\") {\n  actionType = \"handoff_to_human\";\n  requiresHuman = true;\n  nextWorkflow = \"OPS_Handoff_Manager\";\n  finalAction = \"handoff_to_human\";\n  switchAction = buildSwitchAction({\n    route: false,\n    execute: false,\n    handoff: true,\n    close: false,\n    noop: false,\n    suppressMail: false,\n    suppressHandoff: false,\n    blockedReason\n  });\n}\n\nconst department = pickFirst(\n  data.case_decision?.department,\n  data.case_update?.department,\n  caseContext.department,\n  dominantContextAgent === \"AI_AGENT_Postventa\" ? \"Postventa\" : \"\",\n  dominantContextAgent === \"AI_AGENT_Sales\" || targetAgent === \"AI_AGENT_Quote\" ? \"Ventas\" : \"\",\n  \"SAC\"\n);\n\nconst serviceCode = pickFirst(\n  data.case_decision?.service_code,\n  data.case_update?.service_code,\n  serviceContext.service_code,\n  serviceContext.dominant_service,\n  caseContext.service_code,\n  dominantService === \"unknown\" ? \"organic_whatsapp\" : dominantService\n);\n\nconst caseOriginType = pickFirst(\n  data.case_decision?.case_origin_type,\n  data.case_update?.case_origin_type,\n  serviceContext.case_origin_type,\n  serviceCode || \"organic_whatsapp\"\n);\n\nconst caseType = pickFirst(\n  data.case_decision?.case_type,\n  data.case_update?.case_type,\n  caseContext.case_type,\n  caseContext.case_topic,\n  intent === \"unknown\" ? \"consulta_general\" : intent\n);\n\nconst priority = pickFirst(\n  data.case_decision?.priority,\n  data.case_update?.priority,\n  caseContext.priority,\n  riskLevel === \"high\" ? \"high\" : \"normal\"\n);\n\nconst caseAction =\n  actionType === \"close_candidate\"\n    ? \"close_candidate\"\n    : actionType === \"no_action\"\n      ? \"keep_current\"\n      : hasActiveCase\n        ? \"continue_case\"\n        : \"open_or_continue\";\n\nconst result = {\n  orchestrator: {\n    name: \"AI_00_Orchestrator\",\n    version: \"0.8.0\"\n  },\n\n  classification: {\n    intent,\n    confidence,\n    target_agent: targetAgent,\n    risk_level: riskLevel,\n    requires_human: requiresHuman\n  },\n\n  decision: {\n    action_type: actionType,\n    requires_human: requiresHuman,\n    confidence,\n    risk_level: riskLevel,\n    allowed_to_auto_reply: allowedToAutoReply\n  },\n\n  message: {\n    channel: \"whatsapp\",\n    text: null,\n    template_required: false\n  },\n\n  case_decision: {\n    case_action: caseAction,\n    department,\n    service_code: serviceCode,\n    case_origin_type: caseOriginType,\n    case_type: caseType,\n    priority\n  },\n\n  case_update: {\n    case_action: actionType === \"close_candidate\" ? \"close_candidate\" : caseAction,\n    department,\n    service_code: serviceCode,\n    case_origin_type: caseOriginType,\n    case_type: caseType,\n    priority,\n    status:\n      actionType === \"close_candidate\"\n        ? \"closed\"\n        : actionType === \"no_action\"\n          ? pickFirst(caseContext.status, \"open\")\n          : pickFirst(caseContext.status, \"open\"),\n    close_reason: actionType === \"close_candidate\" ? \"customer_rejection\" : null,\n    suppress_mail: switchAction?.should_suppress_mail ?? true,\n    suppress_handoff: switchAction?.should_suppress_handoff ?? true,\n    do_not_contact: false,\n    rejection_detected: isExplicitDecline,\n    source_table: pickFirst(serviceContext.source_table, caseContext.source_table) || null,\n    source_id: pickFirstNumber(serviceContext.source_id, caseContext.source_id),\n    id_order: pickFirstNumber(serviceContext.id_order, caseContext.id_order, customerContext.last_order_id),\n    id_customer: pickFirstNumber(serviceContext.id_customer, caseContext.id_customer, customerContext.id_customer, customerContext.customer_id),\n    invoice_number: pickFirstNumber(serviceContext.invoice_number, caseContext.invoice_number, customerContext.invoice_number)\n  },\n\n  missing_data: asArray(data.missing_data),\n\n  recommended_action: {\n    action_type: actionType,\n    reason: decisionReason\n  },\n\n  routing: {\n    target_agent: targetAgent,\n    next_workflow: nextWorkflow,\n    fallback_workflow: \"OPS_Handoff_Manager\"\n  },\n\n  safety: {\n    allowed_to_auto_reply: false,\n    blocked_reason: blockedReason,\n    suppress_mail: switchAction?.should_suppress_mail ?? true,\n    suppress_handoff: switchAction?.should_suppress_handoff ?? true,\n    do_not_contact: false\n  },\n\n  switch_action: switchAction,\n\n  target_agent: targetAgent,\n  next_workflow: nextWorkflow,\n  route_to: nextWorkflow,\n  routing_target: targetAgent,\n  final_action: finalAction,\n  action_type: actionType,\n  requires_human: requiresHuman,\n  allowed_to_auto_reply: false,\n  intent,\n  department,\n  service_code: serviceCode,\n  case_origin_type: caseOriginType,\n  case_type: caseType,\n  priority,\n  risk_level: riskLevel,\n\n  input_event: inputEvent,\n  customer_context: customerContext,\n  case_context: caseContext,\n  conversation_context: conversationContext,\n  business_context: businessContext,\n  service_context: serviceContext,\n  resolver_meta: resolverMeta,\n  risk_flags: asArray(data.risk_flags || rawInput.risk_flags),\n  raw_input: rawInput,\n  raw_model_output: data.raw_model_output || data._raw_model_output || data,\n\n  router_consistency: {\n    has_active_case: hasActiveCase,\n    dominant_service: dominantService,\n    contextual_agent: dominantContextAgent,\n    is_weak_continuation: isWeakContinuation,\n    is_button_or_interactive: isButtonOrInteractive,\n    decision_reason: decisionReason\n  },\n\n  _validation_error: false,\n  _validated_at: new Date().toISOString()\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        0
      ],
      "id": "e8588ef0-bee1-4cf4-b353-4b024140e760",
      "name": "Code - Validate Output"
    },
    {
      "parameters": {
        "jsCode": "const normalized = $json || {};\n\nconst systemPrompt = `\nEres el Orchestrator de PesasChile.\n\nTu función es SOLO enrutar. No respondes al cliente, no haces handoff final operativo y no resuelves el caso.\nDebes devolver exclusivamente JSON válido. Sin markdown.\n\nPrincipios centrales:\n1. El Router decide qué agente evalúa.\n2. La continuidad conversacional pesa más que palabras sueltas.\n3. No resuelvas por diccionario ni por keyword aislada.\n4. Si existe contexto dominante de armado o mantención, el evaluador debe ser AI_AGENT_Postventa.\n5. Si el mensaje es ambiguo pero viene de template o caso postventa, debe ir a AI_AGENT_Postventa.\n6. AI_AGENT_Postventa decide dentro o fuera de alcance; el Router no lo decide por él.\n\nBloqueo operativo real:\n- Si resolver_meta.bot_can_continue=false, manual_lock_active=true u operator_active=true:\n  - action_type=\"no_action\"\n  - target_agent=\"noop\"\n  - safety.allowed_to_auto_reply=false\n  - safety.suppress_mail=true\n  - safety.suppress_handoff=true\n\nRuteo por continuidad y dominio:\n- Dominio postventa armado/mantención:\n  - Si service_context.dominant_service es postventa_armado, postventa_mantencion o postventa_general, usa AI_AGENT_Postventa.\n  - Esto incluye mensajes ambiguos o confirmatorios como “sí”, “ok”, “dale”, “me interesa”, “perfecto”.\n  - Solo si el cliente rechaza continuar claramente en un caso activo, puedes usar OPS_Case_Closer.\n- Dominio SAC:\n  - Reclamos, garantía, devoluciones, daños, mala experiencia, temas legales o solicitud explícita de humano deben ir a AI_AGENT_SAC.\n- Dominio comercial:\n  - Cotización formal o pedido de precio estructurado puede ir a AI_AGENT_Quote.\n  - Asesoría comercial, catálogo, stock, disponibilidad o productos van a AI_AGENT_Sales.\n- Campaña:\n  - Si el contexto dominante es campaña, usa AI_AGENT_Campaign.\n- Knowledge:\n  - Si la consulta depende de conocimiento/documentación y el contexto la posiciona allí, usa AI_AGENT_Knowledge.\n\nReglas de experiencia:\n- Si el mensaje es un saludo o confirmación débil pero existe un dominio activo claro, enrútalo al agente de ese dominio.\n- Si no hay dominio claro, prefiere AI_AGENT_SAC como agente general.\n- No fuerces handoff desde Router por ambigüedad si existe contexto de continuidad.\n\nDevuelve este esquema exacto:\n{\n  \"orchestrator\": {\n    \"name\": \"AI_00_Orchestrator\",\n    \"version\": \"0.8.0\"\n  },\n  \"classification\": {\n    \"intent\": \"unknown\",\n    \"confidence\": 0.85,\n    \"target_agent\": \"AI_AGENT_SAC\",\n    \"risk_level\": \"medium\",\n    \"requires_human\": false\n  },\n  \"case_decision\": {\n    \"case_action\": \"open_or_continue\",\n    \"department\": \"SAC\",\n    \"service_code\": \"organic_whatsapp\",\n    \"case_origin_type\": \"organic_whatsapp\",\n    \"case_type\": \"consulta_general\",\n    \"priority\": \"normal\"\n  },\n  \"missing_data\": [],\n  \"recommended_action\": {\n    \"action_type\": \"route_to_agent\",\n    \"reason\": \"routing_required\"\n  },\n  \"routing\": {\n    \"target_agent\": \"AI_AGENT_SAC\",\n    \"next_workflow\": \"AI_AGENT_SAC\",\n    \"fallback_workflow\": \"OPS_Handoff_Manager\"\n  },\n  \"safety\": {\n    \"allowed_to_auto_reply\": false,\n    \"blocked_reason\": null,\n    \"suppress_mail\": true,\n    \"suppress_handoff\": true\n  }\n}\n`;\n\nconst userPrompt = `\nClasifica y enruta este evento. Devuelve solo JSON válido.\n\nINPUT:\n${JSON.stringify(normalized, null, 2)}\n`;\n\nreturn [\n  {\n    json: {\n      deepseek_payload: {\n        model: \"deepseek-chat\",\n        messages: [\n          { role: \"system\", content: systemPrompt },\n          { role: \"user\", content: userPrompt }\n        ],\n        temperature: 0,\n        max_tokens: 1200,\n        response_format: { type: \"json_object\" }\n      },\n      normalized_input: normalized\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "efcbc02f-e233-4943-afd1-68f7d0d50a14",
      "name": "Code - Build DeepSeek Payload"
    },
    {
      "parameters": {
        "jsCode": "const data = $json || {};\n\nfunction sqlString(value) {\n  if (value === null || value === undefined) return \"NULL\";\n  return `'${String(value).replace(/\\\\/g, \"\\\\\\\\\").replace(/'/g, \"''\")}'`;\n}\n\nfunction sqlNumber(value) {\n  if (value === null || value === undefined || value === \"\") return \"NULL\";\n  const n = Number(value);\n  if (Number.isNaN(n)) return \"NULL\";\n  return String(n);\n}\n\nfunction sqlBool(value) {\n  return value ? \"1\" : \"0\";\n}\n\nfunction clean(value) {\n  if (value === null || value === undefined) return \"\";\n  return String(value).trim();\n}\n\nfunction asObject(value) {\n  return value && typeof value === \"object\" && !Array.isArray(value) ? value : {};\n}\n\nconst inputEvent = asObject(data.input_event);\nconst customerContext = asObject(data.customer_context);\nconst caseContext = asObject(data.case_context);\nconst serviceContext = asObject(data.service_context);\nconst classification = asObject(data.classification);\nconst caseDecision = asObject(data.case_decision);\nconst decision = asObject(data.decision);\nconst routing = asObject(data.routing);\nconst safety = asObject(data.safety);\n\nconst agentName = \"AI_00_Orchestrator\";\nconst agentVersion = data.orchestrator?.version || \"0.3.1\";\n\nconst customerId =\n  customerContext.customer_id ??\n  customerContext.id_customer ??\n  caseDecision.id_customer ??\n  serviceContext.id_customer ??\n  null;\n\nconst caseId =\n  caseContext.case_id ??\n  caseContext.id ??\n  null;\n\nconst conversationMessageId =\n  inputEvent.conversation_message_id ??\n  null;\n\nconst sourceTable =\n  serviceContext.source_table ||\n  caseDecision.source_table ||\n  data.source_table ||\n  \"wa_orchestrator\";\n\nconst sourceId =\n  serviceContext.source_id ||\n  caseDecision.source_id ||\n  inputEvent.provider_message_id ||\n  inputEvent.wa_id ||\n  null;\n\nconst intent =\n  classification.intent ||\n  caseDecision.case_type ||\n  data.intent ||\n  null;\n\nconst confidence =\n  classification.confidence ??\n  decision.confidence ??\n  0;\n\nconst riskLevel =\n  classification.risk_level ||\n  decision.risk_level ||\n  \"medium\";\n\nconst requiresHuman =\n  classification.requires_human ??\n  decision.requires_human ??\n  true;\n\nconst targetAgent =\n  classification.target_agent ||\n  routing.target_agent ||\n  routing.next_workflow ||\n  data.target_agent ||\n  null;\n\nconst status = data._validation_error ? \"validation_error\" : \"success\";\n\nconst error =\n  data._validation_error\n    ? clean(safety.blocked_reason || data.error || \"validation_error\")\n    : null;\n\nconst inputJson = JSON.stringify({\n  input_event: inputEvent,\n  customer_context: customerContext,\n  case_context: caseContext,\n  conversation_context: data.conversation_context || {},\n  business_context: data.business_context || {},\n  service_context: serviceContext,\n  risk_flags: data.risk_flags || [],\n  resolver_meta: data.resolver_meta || {}\n});\n\nconst outputJson = JSON.stringify({\n  orchestrator: data.orchestrator || {},\n  classification,\n  case_decision: caseDecision,\n  decision,\n  recommended_action: data.recommended_action || {},\n  routing,\n  safety,\n  missing_data: data.missing_data || [],\n  _validation_error: data._validation_error || false\n});\n\nconst query = `\nINSERT INTO n8n_agent_runs (\n  agent_name,\n  agent_version,\n  customer_id,\n  case_id,\n  conversation_message_id,\n  source_table,\n  source_id,\n  model_provider,\n  model_name,\n  intent,\n  confidence,\n  risk_level,\n  requires_human,\n  target_agent,\n  input_json,\n  output_json,\n  status,\n  error,\n  created_at\n)\nVALUES (\n  ${sqlString(agentName)},\n  ${sqlString(agentVersion)},\n  ${sqlNumber(customerId)},\n  ${sqlNumber(caseId)},\n  ${sqlNumber(conversationMessageId)},\n  ${sqlString(sourceTable)},\n  ${sqlString(sourceId)},\n  ${sqlString(\"internal\")},\n  ${sqlString(\"deterministic_router\")},\n  ${sqlString(intent)},\n  ${sqlNumber(confidence)},\n  ${sqlString(riskLevel)},\n  ${sqlBool(requiresHuman)},\n  ${sqlString(targetAgent)},\n  ${sqlString(inputJson)},\n  ${sqlString(outputJson)},\n  ${sqlString(status)},\n  ${sqlString(error)},\n  CONVERT_TZ(UTC_TIMESTAMP(), '+00:00', '-04:00')\n);\n`;\n\nreturn [\n  {\n    json: {\n      ...data,\n      agent_run_insert_query: query\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        0
      ],
      "id": "8fc5e33d-b432-480c-8738-e0952df46b91",
      "name": "Code - Prepare n8n_agent_runs Insert"
    },
    {
      "parameters": {
        "jsCode": "const httpResponse = $json || {};\n\nfunction getNodeJson(nodeName) {\n  try {\n    return $(nodeName).item.json || {};\n  } catch (e) {\n    return {};\n  }\n}\n\nfunction asObject(value) {\n  return value && typeof value === \"object\" && !Array.isArray(value) ? value : {};\n}\n\nconst buildPayloadNode = getNodeJson(\"Code - Build DeepSeek Payload\");\nconst normalizedInput = asObject(buildPayloadNode.normalized_input);\n\nlet raw =\n  httpResponse.choices?.[0]?.message?.content ||\n  httpResponse.text ||\n  httpResponse.output ||\n  httpResponse.response ||\n  \"\";\n\nif (typeof raw !== \"string\") {\n  raw = JSON.stringify(raw);\n}\n\nraw = raw.trim();\n\nraw = raw\n  .replace(/^```json\\s*/i, \"\")\n  .replace(/^```\\s*/i, \"\")\n  .replace(/```$/i, \"\")\n  .trim();\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(raw);\n} catch (error) {\n  return [\n    {\n      json: {\n        _parse_error: true,\n        _parse_error_message: error.message,\n        _raw_model_output: raw,\n\n        orchestrator: {\n          name: \"AI_00_Orchestrator\",\n          version: \"0.3.4\"\n        },\n\n        classification: {\n          intent: \"unknown\",\n          confidence: 0,\n          target_agent: \"OPS_Handoff_Manager\",\n          risk_level: \"medium\",\n          requires_human: true\n        },\n\n        case_decision: {\n          case_action: \"human_review\",\n          department: \"SAC\",\n          service_code: \"organic_whatsapp\",\n          case_origin_type: \"organic_whatsapp\",\n          case_type: \"consulta_general\",\n          priority: \"normal\"\n        },\n\n        missing_data: [],\n\n        recommended_action: {\n          action_type: \"handoff_to_human\",\n          reason: \"DeepSeek output was not valid JSON.\"\n        },\n\n        routing: {\n          target_agent: \"OPS_Handoff_Manager\",\n          next_workflow: \"OPS_Handoff_Manager\",\n          fallback_workflow: \"OPS_Handoff_Manager\"\n        },\n\n        safety: {\n          allowed_to_auto_reply: false,\n          blocked_reason: \"invalid_json\"\n        },\n\n        raw_input: normalizedInput,\n        input_event: normalizedInput.input_event || {},\n        customer_context: normalizedInput.customer_context || {},\n        case_context: normalizedInput.case_context || {},\n        conversation_context: normalizedInput.conversation_context || {},\n        business_context: normalizedInput.business_context || {},\n        service_context: normalizedInput.service_context || {},\n        resolver_meta: normalizedInput.resolver_meta || {},\n        risk_flags: normalizedInput.risk_flags || []\n      }\n    }\n  ];\n}\n\nreturn [\n  {\n    json: {\n      ...parsed,\n\n      _raw_model_output: raw,\n      raw_model_output: parsed,\n\n      raw_input: normalizedInput,\n      input_event: parsed.input_event || normalizedInput.input_event || {},\n      customer_context: parsed.customer_context || normalizedInput.customer_context || {},\n      case_context: parsed.case_context || normalizedInput.case_context || {},\n      conversation_context: parsed.conversation_context || normalizedInput.conversation_context || {},\n      business_context: parsed.business_context || normalizedInput.business_context || {},\n      service_context: parsed.service_context || normalizedInput.service_context || {},\n      resolver_meta: parsed.resolver_meta || normalizedInput.resolver_meta || {},\n      risk_flags: parsed.risk_flags || normalizedInput.risk_flags || []\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        0
      ],
      "id": "74d8e542-81f7-4307-87ea-5d23c4eb9655",
      "name": "Code - Parse DeepSeek JSON"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.agent_run_insert_query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1424,
        0
      ],
      "id": "b3ba3bf2-d58d-4e83-a1d4-d6fccec579e9",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "ZNcs8i15Wb7OEvNy",
          "name": "PC boss MM"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function getNodeJson(nodeName) {\n  try {\n    return $(nodeName).item.json || {};\n  } catch (e) {\n    return {};\n  }\n}\n\nfunction isNonEmptyObject(value) {\n  return value && typeof value === \"object\" && !Array.isArray(value) && Object.keys(value).length > 0;\n}\n\nconst fromPrepareRun = getNodeJson(\"Code - Prepare n8n_agent_runs Insert\");\nconst fromValidate = getNodeJson(\"Code - Validate Output\");\nconst fromParse = getNodeJson(\"Code - Parse DeepSeek JSON\");\n\nconst item =\n  isNonEmptyObject(fromPrepareRun)\n    ? fromPrepareRun\n    : isNonEmptyObject(fromValidate)\n      ? fromValidate\n      : isNonEmptyObject(fromParse)\n        ? fromParse\n        : ($json || {});\n\n// ============================================================\n// AI_00_Orchestrator / Return Orchestrator Result\n// Version: 0.3.5\n// Purpose:\n// - Normalize router schema\n// - Preserve original input after SQL node\n// - Prevent invalid routing for greetings / no-case closure / legacy manual_reply\n// ============================================================\n\nconst GENERAL_AGENT = \"AI_AGENT_SAC\";\n\nconst ORCHESTRATOR_NAME = \"AI_00_Orchestrator\";\nconst ORCHESTRATOR_VERSION = \"0.3.5\";\n\nfunction get(obj, path, fallback = null) {\n  if (!obj) return fallback;\n\n  const parts = path.split(\".\");\n  let acc = obj;\n\n  for (const key of parts) {\n    if (acc && Object.prototype.hasOwnProperty.call(acc, key)) {\n      acc = acc[key];\n    } else {\n      return fallback;\n    }\n  }\n\n  return acc === undefined ? fallback : acc;\n}\n\nfunction asBool(value, fallback = false) {\n  if (value === true) return true;\n  if (value === false) return false;\n  if (value === \"true\") return true;\n  if (value === \"false\") return false;\n  if (value === 1) return true;\n  if (value === 0) return false;\n  return fallback;\n}\n\nfunction asNumber(value, fallback = 0) {\n  const n = Number(value);\n  return Number.isFinite(n) ? n : fallback;\n}\n\nfunction normalizeText(value) {\n  return String(value || \"\")\n    .trim()\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/[¿?¡!.,;:()[\\]{}\"']/g, \"\")\n    .replace(/\\s+/g, \" \");\n}\n\nfunction nowIso() {\n  return new Date().toISOString();\n}\n\nfunction safeObject(value) {\n  return value && typeof value === \"object\" && !Array.isArray(value) ? value : {};\n}\n\nfunction firstNonEmptyObject(...objects) {\n  for (const obj of objects) {\n    if (obj && typeof obj === \"object\" && !Array.isArray(obj) && Object.keys(obj).length > 0) {\n      return obj;\n    }\n  }\n  return {};\n}\n\nfunction parseMaybeJson(value) {\n  if (!value) return null;\n\n  if (typeof value === \"object\") return value;\n\n  if (typeof value !== \"string\") return null;\n\n  let txt = value.trim();\n\n  txt = txt\n    .replace(/^```json\\s*/i, \"\")\n    .replace(/^```\\s*/i, \"\")\n    .replace(/```$/i, \"\")\n    .trim();\n\n  try {\n    return JSON.parse(txt);\n  } catch (e) {\n    return null;\n  }\n}\n\nfunction firstNonNull(...values) {\n  for (const v of values) {\n    if (v !== null && v !== undefined && v !== \"\") return v;\n  }\n  return null;\n}\n\nfunction normalizeRisk(value) {\n  const v = normalizeText(value);\n  if ([\"low\", \"bajo\"].includes(v)) return \"low\";\n  if ([\"medium\", \"medio\", \"moderate\"].includes(v)) return \"medium\";\n  if ([\"high\", \"alto\"].includes(v)) return \"high\";\n  return \"medium\";\n}\n\nfunction normalizeService(value) {\n  const v = normalizeText(value);\n\n  if (!v) return \"unknown\";\n  if ([\"postventa_armado\", \"armado\"].includes(v)) return \"postventa_armado\";\n  if ([\"postventa_mantencion\", \"mantencion\", \"mantenimiento\"].includes(v)) return \"postventa_mantencion\";\n  if (v.includes(\"postventa\")) return \"postventa_general\";\n  if ([\"campaign\", \"campana\", \"campaña\", \"campaign_response\"].includes(v)) return \"campaign\";\n  if ([\"knowledge\", \"faq\", \"documentacion\", \"documentación\"].includes(v)) return \"knowledge\";\n  if ([\"garantia\", \"reclamo\", \"devolucion\", \"warranty\", \"complaint\", \"sac\"].includes(v)) return \"sac\";\n  if ([\"quote\", \"cotizacion\", \"cotización\"].includes(v)) return \"quote\";\n  if ([\"sales\", \"ventas\", \"asesoria_compra\", \"purchase_advice\", \"product_availability\"].includes(v)) return \"sales\";\n  return v;\n}\n\nfunction mapServiceToAgent(service) {\n  const normalized = normalizeService(service);\n\n  if ([\"postventa_armado\", \"postventa_mantencion\", \"postventa_general\"].includes(normalized)) return \"AI_AGENT_Postventa\";\n  if (normalized === \"campaign\") return \"AI_AGENT_Campaign\";\n  if (normalized === \"knowledge\") return \"AI_AGENT_Knowledge\";\n  if (normalized === \"quote\") return \"AI_AGENT_Quote\";\n  if (normalized === \"sales\") return \"AI_AGENT_Sales\";\n  if (normalized === \"sac\") return \"AI_AGENT_SAC\";\n  return null;\n}\n\nfunction normalizeIntent(value) {\n  const v = normalizeText(value);\n\n  const map = {\n    greeting: \"greeting\",\n    saludo: \"greeting\",\n    simple_greeting: \"greeting\",\n\n    quote_request: \"quote_request\",\n    cotizacion: \"quote_request\",\n    cotizar: \"quote_request\",\n\n    purchase_advice: \"purchase_advice\",\n    asesoria_compra: \"purchase_advice\",\n    sales: \"purchase_advice\",\n    venta: \"purchase_advice\",\n    ventas: \"purchase_advice\",\n    compra: \"purchase_advice\",\n\n    product_availability: \"product_availability\",\n    stock: \"product_availability\",\n\n    shipping_question: \"shipping_question\",\n    despacho: \"shipping_question\",\n    envio: \"shipping_question\",\n    shipping: \"shipping_question\",\n\n    order_status: \"order_status\",\n    pedido: \"order_status\",\n    order: \"order_status\",\n    seguimiento_pedido: \"order_status\",\n\n    complaint: \"complaint\",\n    reclamo: \"complaint\",\n\n    warranty: \"warranty\",\n    garantia: \"warranty\",\n\n    return_or_exchange: \"return_or_exchange\",\n    devolucion: \"return_or_exchange\",\n    cambio: \"return_or_exchange\",\n\n    postventa_armado: \"postventa_armado\",\n    armado: \"postventa_armado\",\n\n    postventa_mantencion: \"postventa_mantencion\",\n    mantencion: \"postventa_mantencion\",\n    mantenimiento: \"postventa_mantencion\",\n\n    postventa_general: \"postventa_general\",\n\n    campaign_response: \"campaign_response\",\n    review_response: \"review_response\",\n\n    human_request: \"human_request\",\n\n    thanks_or_closure: \"thanks_or_closure\",\n    cierre: \"thanks_or_closure\",\n    closure: \"thanks_or_closure\",\n    gracias: \"thanks_or_closure\",\n\n    customer_rejection: \"customer_rejection\",\n    rechazo: \"customer_rejection\",\n    rejected_by_customer: \"customer_rejection\",\n\n    opt_out: \"opt_out\",\n    hard_opt_out: \"opt_out\",\n    do_not_contact: \"opt_out\",\n\n    spam_or_irrelevant: \"spam_or_irrelevant\",\n    tool_request: \"tool_request\",\n\n    unknown: \"unknown\"\n  };\n\n  return map[v] || \"unknown\";\n}\n\nfunction normalizeActionType(value) {\n  const v = normalizeText(value);\n\n  const map = {\n    send_to_agent: \"send_to_agent\",\n    route_to_agent: \"send_to_agent\",\n    agent: \"send_to_agent\",\n\n    send_to_executor: \"send_to_executor\",\n    execute_response: \"send_to_executor\",\n    reply: \"send_to_executor\",\n    ask_missing_data: \"send_to_executor\",\n\n    send_to_handoff: \"send_to_handoff\",\n    handoff_to_human: \"send_to_handoff\",\n    human_review: \"send_to_handoff\",\n    handoff: \"send_to_handoff\",\n\n    close_candidate: \"close_candidate\",\n    close_case: \"close_candidate\",\n\n    no_action: \"no_action\",\n    noop: \"no_action\",\n\n    tool_request: \"tool_request\"\n  };\n\n  return map[v] || \"send_to_handoff\";\n}\n\nfunction isGreetingText(text) {\n  const t = normalizeText(text);\n\n  const greetings = new Set([\n    \"hola\",\n    \"holaa\",\n    \"hola hola\",\n    \"buenas\",\n    \"buen dia\",\n    \"buenos dias\",\n    \"buena\",\n    \"buenas tardes\",\n    \"buenas noches\",\n    \"hello\",\n    \"hi\",\n    \"hey\"\n  ]);\n\n  return greetings.has(t);\n}\n\nfunction isExplicitClosureText(text) {\n  const t = normalizeText(text);\n\n  const patterns = [\n    \"gracias\",\n    \"muchas gracias\",\n    \"no gracias\",\n    \"quedamos listos\",\n    \"estamos listos\",\n    \"listo gracias\",\n    \"eso era\",\n    \"eso seria\",\n    \"era eso\",\n    \"no necesito nada mas\",\n    \"no me interesa\",\n    \"ya no me interesa\"\n  ];\n\n  return patterns.some(p => t.includes(normalizeText(p)));\n}\n\nfunction isHardOptOutText(text) {\n  const t = normalizeText(text);\n\n  const patterns = [\n    \"no me escriban mas\",\n    \"no me escribas mas\",\n    \"dejen de escribirme\",\n    \"eliminar mi numero\",\n    \"borrar mi numero\",\n    \"no quiero que me contacten\",\n    \"stop\"\n  ];\n\n  return patterns.some(p => t.includes(normalizeText(p)));\n}\n\nfunction buildSwitchAction({\n  route = false,\n  execute = false,\n  handoff = false,\n  close = false,\n  noop = false,\n  suppressMail = true,\n  suppressHandoff = true,\n  blockedReason = null\n}) {\n  return {\n    should_route_to_agent: route,\n    should_execute_response: execute,\n    should_handoff: handoff,\n    should_close_case: close,\n    should_noop: noop,\n    should_suppress_mail: suppressMail,\n    should_suppress_handoff: suppressHandoff,\n    blocked_reason: blockedReason\n  };\n}\n\nconst possibleModelOutput =\n  get(item, \"output\") ||\n  get(item, \"text\") ||\n  get(item, \"response\") ||\n  get(item, \"message.content\") ||\n  get(item, \"choices.0.message.content\") ||\n  get(item, \"raw_model_output\") ||\n  get(item, \"_raw_model_output\") ||\n  get(item, \"data\") ||\n  null;\n\nconst parsedModel =\n  parseMaybeJson(possibleModelOutput) ||\n  (\n    item &&\n    typeof item === \"object\" &&\n    (\n      item.classification ||\n      item.decision ||\n      item.case_decision ||\n      item.switch_action ||\n      item.intent ||\n      item.action_type\n    )\n      ? item\n      : {}\n  );\n\nconst rawInput = firstNonEmptyObject(\n  get(parsedModel, \"raw_input\"),\n  get(item, \"raw_input\"),\n  get(item, \"input\"),\n  item\n);\n\nconst inputEvent = firstNonEmptyObject(\n  get(parsedModel, \"input_event\"),\n  get(rawInput, \"input_event\"),\n  get(item, \"input_event\")\n);\n\nconst customerContext = firstNonEmptyObject(\n  get(parsedModel, \"customer_context\"),\n  get(rawInput, \"customer_context\"),\n  get(item, \"customer_context\")\n);\n\nconst caseContext = firstNonEmptyObject(\n  get(parsedModel, \"case_context\"),\n  get(rawInput, \"case_context\"),\n  get(item, \"case_context\")\n);\n\nconst conversationContext = firstNonEmptyObject(\n  get(parsedModel, \"conversation_context\"),\n  get(rawInput, \"conversation_context\"),\n  get(item, \"conversation_context\")\n);\n\nconst businessContext = firstNonEmptyObject(\n  get(parsedModel, \"business_context\"),\n  get(rawInput, \"business_context\"),\n  get(item, \"business_context\")\n);\n\nconst serviceContext = firstNonEmptyObject(\n  get(parsedModel, \"service_context\"),\n  get(rawInput, \"service_context\"),\n  get(item, \"service_context\")\n);\n\nconst continuityService = normalizeService(\n  firstNonNull(\n    get(serviceContext, \"dominant_service\"),\n    get(serviceContext, \"service_code\"),\n    get(caseContext, \"service_code\"),\n    get(parsedModel, \"service_code\")\n  )\n);\n\nconst continuityAgent = mapServiceToAgent(continuityService);\n\nconst currentText = firstNonNull(\n  get(inputEvent, \"message_text\"),\n  get(rawInput, \"input_event.message_text\"),\n  get(businessContext, \"current_message_flags.current_message_text\"),\n  \"\"\n);\n\nconst messageType = firstNonNull(\n  get(inputEvent, \"message_type\"),\n  get(rawInput, \"input_event.message_type\"),\n  \"text\"\n);\n\nconst isGreetingOnly =\n  asBool(get(parsedModel, \"is_simple_greeting\"), false) ||\n  asBool(get(businessContext, \"current_message_flags.is_greeting_only\"), false) ||\n  (\n    messageType === \"text\" &&\n    isGreetingText(currentText)\n  );\n\nconst isCustomerRejection =\n  asBool(get(parsedModel, \"is_customer_rejection\"), false);\n\nconst isCustomerThanksOrClosure =\n  asBool(get(parsedModel, \"is_customer_thanks_or_closure\"), false) ||\n  isExplicitClosureText(currentText);\n\nconst isHardOptOut =\n  asBool(get(parsedModel, \"is_hard_opt_out\"), false) ||\n  isHardOptOutText(currentText);\n\nconst conversationCaseId = firstNonNull(\n  get(caseContext, \"conversation_case_id\"),\n  get(caseContext, \"case_id\"),\n  get(rawInput, \"case_context.conversation_case_id\"),\n  get(rawInput, \"case_context.case_id\")\n);\n\nconst caseStatus = firstNonNull(\n  get(caseContext, \"status\"),\n  get(rawInput, \"case_context.status\")\n);\n\nconst lifecycleStatus = firstNonNull(\n  get(caseContext, \"lifecycle_status\"),\n  get(rawInput, \"case_context.lifecycle_status\")\n);\n\nconst closedAt = firstNonNull(\n  get(caseContext, \"closed_at\"),\n  get(rawInput, \"case_context.closed_at\")\n);\n\nconst hasActiveCase =\n  !!conversationCaseId &&\n  ![\"closed\", \"archived\", \"none\"].includes(normalizeText(caseStatus)) &&\n  ![\"closed\", \"archived\"].includes(normalizeText(lifecycleStatus)) &&\n  !closedAt;\n\nconst hasCaseToClose = !!conversationCaseId;\n\nconst manualReplyPolicy = firstNonEmptyObject(\n  get(parsedModel, \"manual_reply_policy\"),\n  get(conversationContext, \"manual_reply_policy\")\n);\n\nconst hasManualReplyPolicy = Object.keys(manualReplyPolicy).length > 0;\n\nconst legacyManualReply = asBool(\n  firstNonNull(\n    get(conversationContext, \"manual_reply\"),\n    get(rawInput, \"conversation_context.manual_reply\")\n  ),\n  false\n);\n\nconst manualReplyBlocksBot =\n  hasManualReplyPolicy\n    ? (\n        asBool(get(manualReplyPolicy, \"manual_reply_blocks_bot\"), false) &&\n        (\n          asBool(get(manualReplyPolicy, \"has_manual_reply_same_case\"), false) ||\n          asBool(get(manualReplyPolicy, \"has_manual_reply_same_thread\"), false)\n        )\n      )\n    : false;\n\nlet intent = normalizeIntent(\n  firstNonNull(\n    get(parsedModel, \"intent\"),\n    get(parsedModel, \"classification.intent\"),\n    get(parsedModel, \"decision.intent\")\n  )\n);\n\nlet actionType = normalizeActionType(\n  firstNonNull(\n    get(parsedModel, \"action_type\"),\n    get(parsedModel, \"decision.action_type\"),\n    get(parsedModel, \"recommended_action.action_type\")\n  )\n);\n\nlet targetAgent = firstNonNull(\n  get(parsedModel, \"target_agent\"),\n  get(parsedModel, \"classification.target_agent\"),\n  get(parsedModel, \"routing.target_agent\"),\n  null\n);\n\nlet confidence = asNumber(\n  firstNonNull(\n    get(parsedModel, \"confidence\"),\n    get(parsedModel, \"classification.confidence\"),\n    get(parsedModel, \"decision.confidence\")\n  ),\n  0\n);\n\nlet riskLevel = normalizeRisk(\n  firstNonNull(\n    get(parsedModel, \"risk_level\"),\n    get(parsedModel, \"classification.risk_level\"),\n    get(parsedModel, \"decision.risk_level\")\n  )\n);\n\nlet requiresHuman = asBool(\n  firstNonNull(\n    get(parsedModel, \"requires_human\"),\n    get(parsedModel, \"classification.requires_human\"),\n    get(parsedModel, \"decision.requires_human\")\n  ),\n  false\n);\n\nlet allowedToAutoReply = asBool(\n  firstNonNull(\n    get(parsedModel, \"allowed_to_auto_reply\"),\n    get(parsedModel, \"decision.allowed_to_auto_reply\"),\n    get(parsedModel, \"safety.allowed_to_auto_reply\")\n  ),\n  false\n);\n\nlet blockedReason = firstNonNull(\n  get(parsedModel, \"blocked_reason\"),\n  get(parsedModel, \"safety.blocked_reason\"),\n  get(parsedModel, \"switch_action.blocked_reason\"),\n  null\n);\n\nlet decisionReason = firstNonNull(\n  get(parsedModel, \"recommended_action.reason\"),\n  null\n);\n\nif (isGreetingOnly) {\n  const contextualGreeting = !!continuityAgent && continuityAgent !== GENERAL_AGENT;\n\n  intent = contextualGreeting\n    ? (\n        continuityService === \"postventa_armado\"\n          ? \"postventa_armado\"\n          : continuityService === \"postventa_mantencion\"\n            ? \"postventa_mantencion\"\n            : continuityService === \"postventa_general\"\n              ? \"postventa_general\"\n              : continuityService === \"quote\"\n                ? \"quote_request\"\n                : continuityService === \"sales\"\n                  ? \"purchase_advice\"\n                  : continuityService === \"campaign\"\n                    ? \"campaign_response\"\n                    : \"greeting\"\n      )\n    : \"greeting\";\n  actionType = \"send_to_agent\";\n  targetAgent = continuityAgent || GENERAL_AGENT;\n  confidence = Math.max(confidence, 0.9);\n  riskLevel = contextualGreeting\n    ? (riskLevel === \"high\" ? \"medium\" : riskLevel)\n    : \"low\";\n  requiresHuman = false;\n  allowedToAutoReply = !manualReplyBlocksBot;\n  blockedReason = manualReplyBlocksBot ? \"manual_reply_same_case_or_thread\" : null;\n  decisionReason = hasActiveCase\n    ? (contextualGreeting ? \"greeting_with_contextual_continuity\" : \"greeting_with_active_case\")\n    : \"greeting_without_active_case\";\n}\n\nif (\n  legacyManualReply === true &&\n  !manualReplyBlocksBot &&\n  blockedReason === \"manual_reply\"\n) {\n  blockedReason = null;\n  allowedToAutoReply = true;\n}\n\nif (\n  isGreetingOnly &&\n  (\n    intent === \"unknown\" ||\n    blockedReason === \"invalid_intent\" ||\n    actionType === \"send_to_handoff\"\n  )\n) {\n  const contextualGreeting = !!continuityAgent && continuityAgent !== GENERAL_AGENT;\n\n  intent = contextualGreeting\n    ? (\n        continuityService === \"postventa_armado\"\n          ? \"postventa_armado\"\n          : continuityService === \"postventa_mantencion\"\n            ? \"postventa_mantencion\"\n            : continuityService === \"postventa_general\"\n              ? \"postventa_general\"\n              : continuityService === \"quote\"\n                ? \"quote_request\"\n                : continuityService === \"sales\"\n                  ? \"purchase_advice\"\n                  : continuityService === \"campaign\"\n                    ? \"campaign_response\"\n                    : \"greeting\"\n      )\n    : \"greeting\";\n  actionType = \"send_to_agent\";\n  targetAgent = continuityAgent || GENERAL_AGENT;\n  riskLevel = contextualGreeting\n    ? (riskLevel === \"high\" ? \"medium\" : riskLevel)\n    : \"low\";\n  requiresHuman = false;\n  allowedToAutoReply = true;\n  blockedReason = null;\n  decisionReason = contextualGreeting\n    ? \"invalid_intent_overridden_by_contextual_greeting_flag\"\n    : \"invalid_intent_overridden_by_greeting_flag\";\n}\n\nif (actionType === \"close_candidate\" && !hasCaseToClose) {\n  actionType = \"no_action\";\n  targetAgent = null;\n  requiresHuman = false;\n  allowedToAutoReply = false;\n  blockedReason = \"no_active_case_to_close\";\n  decisionReason = \"closure_without_active_case\";\n}\n\nif (isHardOptOut && !hasCaseToClose) {\n  intent = \"opt_out\";\n  actionType = \"no_action\";\n  targetAgent = null;\n  requiresHuman = false;\n  allowedToAutoReply = false;\n  blockedReason = \"opt_out_without_active_case\";\n  decisionReason = \"opt_out_without_active_case\";\n}\n\nif (\n  isCustomerThanksOrClosure &&\n  !hasCaseToClose &&\n  !isGreetingOnly &&\n  !isHardOptOut\n) {\n  intent = \"thanks_or_closure\";\n  actionType = \"no_action\";\n  targetAgent = null;\n  requiresHuman = false;\n  allowedToAutoReply = false;\n  blockedReason = \"closure_without_active_case\";\n  decisionReason = \"closure_without_active_case\";\n}\n\nif (\n  intent === \"unknown\" &&\n  !isGreetingOnly &&\n  actionType !== \"no_action\"\n) {\n  actionType = \"send_to_handoff\";\n  targetAgent = \"OPS_Handoff_Manager\";\n  requiresHuman = true;\n  allowedToAutoReply = false;\n  riskLevel = \"medium\";\n  blockedReason = blockedReason || \"invalid_intent\";\n  decisionReason = decisionReason || \"invalid_intent\";\n}\n\nlet finalAction = null;\nlet nextWorkflow = null;\n\nif (actionType === \"send_to_agent\") {\n  finalAction = \"route_to_agent\";\n  nextWorkflow = targetAgent || GENERAL_AGENT;\n  targetAgent = targetAgent || GENERAL_AGENT;\n}\n\nif (actionType === \"send_to_executor\") {\n  finalAction = \"reply\";\n  nextWorkflow = \"OPS_Response_Executor\";\n}\n\nif (actionType === \"send_to_handoff\") {\n  finalAction = \"handoff_to_human\";\n  nextWorkflow = \"OPS_Handoff_Manager\";\n  targetAgent = \"OPS_Handoff_Manager\";\n}\n\nif (actionType === \"close_candidate\") {\n  finalAction = \"close_candidate\";\n  nextWorkflow = \"OPS_Case_Closer\";\n  targetAgent = \"OPS_Case_Closer\";\n}\n\nif (actionType === \"tool_request\") {\n  finalAction = \"tool_request\";\n  nextWorkflow = \"OPS_Tool_Request\";\n  targetAgent = \"OPS_Tool_Request\";\n}\n\nif (actionType === \"no_action\") {\n  finalAction = \"no_action\";\n  nextWorkflow = null;\n  targetAgent = null;\n}\n\nlet switchAction;\n\nif (actionType === \"send_to_agent\") {\n  switchAction = buildSwitchAction({\n    route: true,\n    execute: false,\n    handoff: false,\n    close: false,\n    noop: false,\n    suppressMail: true,\n    suppressHandoff: true,\n    blockedReason\n  });\n}\n\nif (actionType === \"send_to_executor\") {\n  switchAction = buildSwitchAction({\n    route: false,\n    execute: true,\n    handoff: false,\n    close: false,\n    noop: false,\n    suppressMail: true,\n    suppressHandoff: true,\n    blockedReason\n  });\n}\n\nif (actionType === \"send_to_handoff\") {\n  switchAction = buildSwitchAction({\n    route: false,\n    execute: false,\n    handoff: true,\n    close: false,\n    noop: false,\n    suppressMail: false,\n    suppressHandoff: false,\n    blockedReason\n  });\n}\n\nif (actionType === \"close_candidate\") {\n  switchAction = buildSwitchAction({\n    route: false,\n    execute: false,\n    handoff: false,\n    close: true,\n    noop: false,\n    suppressMail: true,\n    suppressHandoff: true,\n    blockedReason\n  });\n}\n\nif (actionType === \"tool_request\") {\n  switchAction = buildSwitchAction({\n    route: false,\n    execute: false,\n    handoff: false,\n    close: false,\n    noop: false,\n    suppressMail: true,\n    suppressHandoff: true,\n    blockedReason\n  });\n\n  switchAction.should_tool_request = true;\n}\n\nif (actionType === \"no_action\") {\n  switchAction = buildSwitchAction({\n    route: false,\n    execute: false,\n    handoff: false,\n    close: false,\n    noop: true,\n    suppressMail: true,\n    suppressHandoff: true,\n    blockedReason\n  });\n}\n\nconst department = firstNonNull(\n  get(parsedModel, \"department\"),\n  get(parsedModel, \"case_decision.department\"),\n  get(parsedModel, \"case_update.department\"),\n  get(caseContext, \"department\"),\n  \"SAC\"\n);\n\nconst serviceCode = firstNonNull(\n  get(parsedModel, \"service_code\"),\n  get(parsedModel, \"case_decision.service_code\"),\n  get(parsedModel, \"case_update.service_code\"),\n  get(serviceContext, \"service_code\"),\n  get(caseContext, \"service_code\"),\n  \"organic_whatsapp\"\n);\n\nconst caseOriginType = firstNonNull(\n  get(parsedModel, \"case_origin_type\"),\n  get(parsedModel, \"case_decision.case_origin_type\"),\n  get(parsedModel, \"case_update.case_origin_type\"),\n  get(serviceContext, \"case_origin_type\"),\n  \"organic_whatsapp\"\n);\n\nconst caseType = firstNonNull(\n  get(parsedModel, \"case_type\"),\n  get(parsedModel, \"case_decision.case_type\"),\n  get(parsedModel, \"case_update.case_type\"),\n  get(caseContext, \"case_type\"),\n  get(caseContext, \"case_topic\"),\n  \"consulta_general\"\n);\n\nconst priority = firstNonNull(\n  get(parsedModel, \"priority\"),\n  get(parsedModel, \"case_decision.priority\"),\n  get(parsedModel, \"case_update.priority\"),\n  get(caseContext, \"priority\"),\n  \"normal\"\n);\n\nlet caseAction = \"continue_or_open\";\n\nif (actionType === \"send_to_handoff\") caseAction = \"human_review\";\nif (actionType === \"close_candidate\") caseAction = \"close_candidate\";\nif (actionType === \"no_action\") caseAction = \"no_action\";\nif (actionType === \"send_to_agent\") caseAction = hasActiveCase ? \"continue_case\" : \"open_or_continue\";\n\nconst caseStatusForUpdate =\n  actionType === \"send_to_handoff\"\n    ? \"human_required\"\n    : actionType === \"close_candidate\"\n      ? \"closed\"\n      : hasActiveCase\n        ? caseStatus || \"open\"\n        : \"open\";\n\nconst result = {\n  orchestrator: {\n    name: ORCHESTRATOR_NAME,\n    version: ORCHESTRATOR_VERSION\n  },\n\n  classification: {\n    intent,\n    confidence,\n    target_agent: targetAgent,\n    risk_level: riskLevel,\n    requires_human: requiresHuman\n  },\n\n  decision: {\n    action_type: actionType,\n    requires_human: requiresHuman,\n    confidence,\n    risk_level: riskLevel,\n    allowed_to_auto_reply: allowedToAutoReply\n  },\n\n  message: {\n    channel: \"whatsapp\",\n    text: firstNonNull(get(parsedModel, \"message.text\"), \"\"),\n    template_required: asBool(get(parsedModel, \"message.template_required\"), false)\n  },\n\n  case_decision: {\n    case_action: caseAction,\n    department,\n    service_code: serviceCode,\n    case_origin_type: caseOriginType,\n    case_type: caseType,\n    priority\n  },\n\n  case_update: {\n    case_action: caseAction,\n    department,\n    service_code: serviceCode,\n    case_origin_type: caseOriginType,\n    case_type: caseType,\n    priority,\n    status: caseStatusForUpdate,\n    close_reason: actionType === \"close_candidate\" ? caseType : null,\n    suppress_mail: switchAction.should_suppress_mail,\n    suppress_handoff: switchAction.should_suppress_handoff,\n    do_not_contact: isHardOptOut,\n    rejection_detected: isCustomerRejection,\n    source_table: firstNonNull(get(serviceContext, \"source_table\"), get(caseContext, \"source_table\")),\n    source_id: firstNonNull(get(serviceContext, \"source_id\"), get(caseContext, \"source_id\")),\n    id_order: firstNonNull(get(serviceContext, \"id_order\"), get(caseContext, \"id_order\")),\n    id_customer: firstNonNull(get(serviceContext, \"id_customer\"), get(customerContext, \"id_customer\"), get(caseContext, \"id_customer\")),\n    invoice_number: firstNonNull(get(serviceContext, \"invoice_number\"), get(customerContext, \"invoice_number\"), get(caseContext, \"invoice_number\"))\n  },\n\n  missing_data: Array.isArray(get(parsedModel, \"missing_data\")) ? get(parsedModel, \"missing_data\") : [],\n\n  recommended_action: {\n    action_type: actionType,\n    reason: decisionReason\n  },\n\n  routing: {\n    target_agent: targetAgent,\n    next_workflow: nextWorkflow,\n    fallback_workflow: actionType === \"send_to_handoff\" ? \"OPS_Handoff_Manager\" : null\n  },\n\n  safety: {\n    allowed_to_auto_reply: allowedToAutoReply,\n    blocked_reason: blockedReason,\n    suppress_mail: switchAction.should_suppress_mail,\n    suppress_handoff: switchAction.should_suppress_handoff,\n    do_not_contact: isHardOptOut\n  },\n\n  switch_action: switchAction,\n\n  target_agent: targetAgent,\n  next_workflow: nextWorkflow,\n  route_to: nextWorkflow,\n  routing_target: targetAgent,\n\n  final_action: finalAction,\n  action_type: actionType,\n  requires_human: requiresHuman,\n  allowed_to_auto_reply: allowedToAutoReply,\n  intent,\n  department,\n  service_code: serviceCode,\n  case_origin_type: caseOriginType,\n  case_type: caseType,\n  priority,\n  risk_level: riskLevel,\n\n  explicit_intent_shift: firstNonNull(get(parsedModel, \"explicit_intent_shift\"), null),\n\n  is_simple_greeting: isGreetingOnly,\n  is_customer_rejection: isCustomerRejection,\n  is_hard_opt_out: isHardOptOut,\n  is_customer_thanks_or_closure: isCustomerThanksOrClosure,\n\n  input_event: inputEvent,\n  service_context: serviceContext,\n  customer_context: customerContext,\n  business_context: businessContext,\n  case_context: caseContext,\n  conversation_context: conversationContext,\n  risk_flags: Array.isArray(get(parsedModel, \"risk_flags\"))\n    ? get(parsedModel, \"risk_flags\")\n    : (\n        Array.isArray(get(businessContext, \"risk_flags\"))\n          ? get(businessContext, \"risk_flags\")\n          : []\n      ),\n\n  manual_reply_policy: hasManualReplyPolicy\n    ? manualReplyPolicy\n    : {\n        has_manual_reply_any: legacyManualReply,\n        has_manual_reply_same_case: false,\n        has_manual_reply_same_thread: false,\n        manual_reply_blocks_bot: false,\n        last_manual_reply_at: null,\n        minutes_since_last_manual_reply: null,\n        block_reason: null,\n        source: \"legacy_manual_reply_flag_ignored_for_blocking\"\n      },\n\n  router_consistency: {\n    has_active_case: hasActiveCase,\n    has_case_to_close: hasCaseToClose,\n    is_greeting_only: isGreetingOnly,\n    manual_reply_blocks_bot: manualReplyBlocksBot,\n    legacy_manual_reply_seen: legacyManualReply,\n    lifecycle_inconsistent:\n      !!closedAt &&\n      ![\"closed\", \"archived\"].includes(normalizeText(lifecycleStatus)),\n    decision_reason: decisionReason\n  },\n\n  resolver_meta: safeObject(get(parsedModel, \"resolver_meta\")),\n\n  _validation_error: false,\n  _return_orchestrator_result_at: nowIso(),\n  raw_input: rawInput,\n  raw_model_output: possibleModelOutput || parsedModel\n};\n\nreturn [{ json: result }];\r\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        0
      ],
      "id": "f2dde967-b6cf-4b12-953d-cc6372ed11e8",
      "name": "Code - Return Orchestrator Result"
    },
    {
      "parameters": {
        "content": "## Orquestador Maestro V2\n",
        "height": 464,
        "width": 1968,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -128,
        -160
      ],
      "id": "feb48bf5-1932-4603-88ba-474a16b5ec72",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code - Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Normalize Input": {
      "main": [
        [
          {
            "node": "Code - Build DeepSeek Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code - Parse DeepSeek JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build DeepSeek Payload": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Validate Output": {
      "main": [
        [
          {
            "node": "Code - Prepare n8n_agent_runs Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse DeepSeek JSON": {
      "main": [
        [
          {
            "node": "Code - Validate Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Prepare n8n_agent_runs Insert": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Code - Return Orchestrator Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}